$border-color: #e1e4e8;
$edit-font-size: 14px;
$edit-bg-color: #f8f9fa;

.c-default-size {
  width: 100%;
  height: 99.7vh;
  min-height: 300px;
  min-width: 570px;

  .c-tool-bar-area {
    width: calc(100% - 2px);
    height: 30px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    background-color: #f9f9f9;
    border-right: 1px solid #e1e4e8;
    border-top: 1px solid #e1e4e8;
    border-left: 1px solid #e1e4e8;

    .c-tool-item {
      //text-align: center;
      padding: 0 3px;
      color: #909090;
      margin-right: 5px;
      transition: all 500ms;

      .icon {
        font-size: 18px;
      }

      &:hover {
        color: #333;
        cursor: pointer;
        background-color: #e2e2e2;
      }
    }

    .c-tool-item:first-child {
      margin-left: 10px;
    }

    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .monaco-scrollable-element > .invisible.fade {
    transition: none;
  }

  .c-markdown {
    display: flex;
    width: 100%;
    box-sizing: border-box;

    .c-show-md-div {
      padding-left: 10px;
      height: 100%;
      overflow: auto;
      background-color: #fff;

      #c-show-area {
        padding: 5px 40px 5px 40px;
        background-color: #fff;
      }

      /*滚动条的宽度 */
      &::-webkit-scrollbar {
        width: 10px;
        height: 6px;
      }

      /*定义滚动条轨道*/
      &::-webkit-scrollbar-track {
        background-color: transparent;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
      }

      /* 滚动条的滑块 */
      &::-webkit-scrollbar-thumb {
        opacity: 1;
        background-color: transparent;
        transition: opacity 800ms linear;
        //background-color: #ababab80;
        //border-radius: 3px;
      }

      /*滚动条的宽度 */
      &:hover::-webkit-scrollbar {
        width: 10px;
        height: 6px;
      }

      /*定义滚动条轨道*/
      &:hover::-webkit-scrollbar-track {
        background-color: transparent;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
      }

      /* 滚动条的滑块 */
      &:hover::-webkit-scrollbar-thumb {
        background-color: #989898;
        //border-radius: 3px;
      }
    }

    .c-edit-md-div {
      height: 100%;
      background-color: $edit-bg-color;
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

      .c-edit-border {
        width: 100%;
        height: 100%;
        font-size: $edit-font-size;
        overflow: hidden;
        //padding: 30px 20px 0 20px;
        box-sizing: border-box;
      }
      /*
            #c-edit-area {
              width: 100%;
              height: 100%;
              line-height: 1.5;
              resize: none;
              border: none;
              outline: none;
              background-color: $edit-bg-color;
            }*/
    }
  }

  .c-border-tlb {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
  }

  .c-border-r {
    border-right: 1px solid $border-color;
  }

  .c-half-width {
    width: 50%;
  }

  .c-full-width {
    width: 100%;
  }
}
